<!doctype html>
<html lang=ru>
<%- include('head.ejs'); %>
<body class="account">
<%- include('header.ejs'); %>
<main class="wrapper container">
    <%- include('nav.ejs'); %>
    <section class="main">
        <%- include('user.ejs'); %>
        <%- include('store.ejs'); %>
    </section>
</main>
<%- include('footer.ejs'); %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script type="text/javascript" src="../main.js"></script>
</body>
</html>